$main-color: #005c82;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  #wrapper {
    width: 1024px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    .header {
      padding: 20px 0;
      color: $main-color;
    }
    .content {
      a {
        color: $main-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        padding: 2px 0;
      }
      ul {
        li {
          margin: 0 0 0 20px;
        }
      }
      .personal-info {
        width: 400px;
        float: left;
        margin-right: 4px;
        .image {
          text-align: center;
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid $main-color;
          }
        }
        .information {

        }
        .skills {

        }
      }
      .work-exp-edu {
        width: 620px;
        float: left;
        .work-exp {

        }
        .education {

        }
        .container {
          margin: 10px 0;
          .year {
            width: 20%;
            float: left;
            font-weight: bold;
          }
          .detail {
            width: 80%;
            float: left;
            ul {
              li {
                list-style-type: decimal;
                font-weight: bold;
                padding: 6px 0;
              }
              &.sub {
                li {
                  list-style-type: square;
                  font-weight: normal;
                  padding: 0;
                }
              }
            }
          }
        }
      }
      .title-heading {
        color: $main-color;
        font-weight: bold;
        font-size: 18px;
        padding: 4px 0;
        margin: 0 0 4px 0;
        border-bottom: 1px solid #CCC;
      }
    }
  }
  .clearfix {
    clear: both;
  }
}
